
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.rounded-rectangle{
	background-color: #F2B705;
	width: 500px;
	height: 60px;
	border-radius: 60px;
	margin: 10px;
	display: flex;
    align-items: center;
	justify-content: center;
	animation: slide 4s ease-in-out both infinite alternate;
}

.circle{
	background-color: #056CF2;
	width: 47px;
	height: 47px;
	border-radius: 50px;
	animation: slide 2s ease-in-out 1s both infinite alternate-reverse;
}

@keyframes slide {

    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(-200px);
    }

}

#switch{
	background-color: #7C05F2;
	width: 135px;
	height: 72px;
	border-radius: 90px;
	margin: 30px 10px 0px 1000px;
	padding: 7px;
	display: flex;
    align-items: center;
	animation: switch 5s infinite 1s;
}

#switch-circle{
	width: 60.3px;
	height: 60.3px;
	border-radius: 50px;
	background-color: #03A65A;
	color: #03A65A;
	animation: switch-circle 5s infinite 1s alternate;
}

@keyframes switch {
	
	0% {
		background-color: #7C05F2;
		transform: rotate(0);
    }

    25% {
		background-color: #F20530;
		transform: rotate(180deg);
    }

	75% {
		background-color: #F20530;
		transform: rotate(270deg);
    }
	
	100% {
		background-color: #7C05F2;
		transform: rotate(360deg);
    }

}

@keyframes switch-circle {
	
	0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(60.3px);
		background-color: #F2B705;
    }

	75% {
        transform: translateX(60.3px);
		background-color: #F2B705;
    }
	
	100% {
        transform: translateX(0);
    }
}

.container{
	width: 200px;
	height: 200px;
	display: flex;
    align-items: center;
	justify-content: center;
	animation: slide2 2s ease-in-out both infinite alternate;
}

#squares{
	margin-right: 20px;
	margin-top: -150px;
	height: 300px;
	transform: translateX(-400px);
}

.box{
	background-color: #03A65A;
	width: 100px;
	height: 100px;
	display: flex;
    align-items: center;
	justify-content: center;
	animation: rotate 2s ease-in-out both infinite alternate;
}

#reverse{
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#reverse-box{
	background-color: #F20530;
	margin-top: -400px;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes slide2 {

    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(-200px);
    }

}


@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	
	100% {
		transform: rotate(-180deg);
	}
}

.ball{
	background-color: #7C05F2;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	transform: translateY(-500px);
	animation: bounce 0.4s ease infinite alternate;
}

@keyframes bounce{
	0% {
		transform: translateY(10px);
		background-color: #03A65A;
	}
	
	50% {
		background-color: #03A65A;
	}
	
	100% {
		transform: translateY(-500px);
		background-color: #056CF2;
	}
}

.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 70px 70px 70px;
	border-color: transparent transparent #F2B705 transparent;
	animation: scale 0.4s ease infinite alternate;
	transform-origin: bottom center;
}

@keyframes scale {
	0% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1.0);
	}
}

.half-circle{
	background-color: #7C05F2;
	margin-left: 400px;
	width: 67.5px;
	height: 135px;
	border-radius: 120px 0 0 120px;
	animation: rotate-half-circle 4s infinite;
	transform-origin: center right;
}

@keyframes rotate-half-circle{
	0%{
		transform: rotate(0deg) translateY(0);
	}
	
	25%{
		transform: rotate(90deg);
	}
	
	50%{
		transform: rotate(90deg) translateY(430px);
	}
	
	75%{
		transform: rotate(270deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

.bar{
	background-color: #03A65A;
	width: 450px;
	height: 8px;
	margin-bottom: 20px;
	display: flex;
    align-items: center;
	justify-content: center;
	animation: slide3 4s ease-in-out .2s both infinite alternate;
}

@keyframes slide3 {
	0% {
        transform: translateX(1000px) scaleX(0.2);
		background-color: #03A65A;
    }
	
	30% {
        transform: translateX(-1000px) scaleX(1);
		background-color: #03A65A;
    }
	
	70% {
        transform: translateX(1000px) scaleX(1);
		background-color: #03A65A;
    }

    100% {
        transform: translateX(-1000px) scaleX(.2);
		background-color: #F20530;
    }

}